/*  1. Variables
    2. General styling
    3. Navbar
    4. Hero banner
    5. About me
    6. Portfolio section
    7. Footer */

/* Variables */

:root {
    --greyhound: #2e1902;
    --crystal:  #f5e7bb;
    --light: rgb(231, 143, 28);
    --sunny: rgb(247, 236, 86);
  }
  

/* General styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    height: 100%;
  }
  
/* Navbar */
.navbar {
   
    background-color: white;
    opacity: 0.7;
}

/*hero*/

.jumbotron {
    background: url(../images/antelope-canyon.jpg);
    background-size: cover;
}