/*  1. Variables
    2. General styling
    3. Navbar
    4. Hero banner
    5. About me
    6. Portfolio section
    7. Footer */

/* Variables */

:root {
    --greyhound: #2e1902;
    --crystal:  #f5e7bb;
    --light: rgb(231, 143, 28);
    --sunny: rgb(247, 236, 86);
  }
  

/* General styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    height: 100%;
  }

h1 {
    color: var(--greyhound);
    background-color: rgba(247, 229, 190, 0.5);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;

}
  
/* Navbar */
.navbar {
    background-color: rgba(247, 229, 190, 0.5) !important;
}

#profilepic {
    border: solid;
    border-color: var(--sunny);
    border-radius: 50%;
}

/*hero*/

.jumbotron {
    background-image: url(../images/antelope-canyon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 5rem;
    justify-content: center;
  }

  .jumboCopy {
    justify-content: center;
  }


/* about */
.sectionHeading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


